[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
psycopg2-binary = "*"
django-rest-knox = "*"
django-cors-headers = "*"
django-ckeditor = "*"

[dev-packages]

[requires]
python_version = "3.9"
